*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    /* максимальная ширина контейнера */
    max-width: 1170px;
    /* 15px это половина gutter-а (половина отступа между колонками) */
    padding: 0 15px;
    width: 100%;
}

.container-fluid {
    width: 100%;
    /* 15px это половина gutter-а (половина отступа между колонками) */
    padding: 0 15px;
}

.row {
    display: flex;
    /* 15px это половина gutter-а (половина отступа между колонками) */
    margin: 0 -15px;
    flex-wrap: wrap;
}

.row.no-gutters {
    margin: 0;
}

.row.no-gutters [class^="col"] {
    padding: 0;
}

/* [class^="col"] {
    /* 15px это половина gutter-а (половина отступа между колонками) */
     
/* } */

.col-12 {
    width: 100%;
}

.col-11 {
    width: calc(calc(100% / 12) * 11);
}

.col-10 {
    width: calc(calc(100% / 12) * 10);
}

.col-9 {
    width: calc(calc(100% / 12) * 9);
}

.col-8 {
    width: calc(calc(100% / 12) * 7);
}

.col-7 {
    width: calc(calc(100% / 12) * 7);
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: calc(calc(100% / 12) * 5);
}

.col-4 {
    width: 25%;
}

.col-3 {
    width: calc(calc(100% / 12) * 3);
}

.col-2 {
    width: calc(calc(100% / 12) * 2);
}

.col-1 {
    width: calc(calc(100% / 12) * 1);
}